# This is a basic workflow to help you get started with Actions

name: Newman CLI test

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      - name: Create dir
        run:  |
              mkdir -p TestResult

      # Install NodeJS
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
            node-version: '20.x'

      # Install Newman and Reporter
      - name: Install Newman
        run: |
            npm install -g newman
            npm install -g newman-reporter-htmlextra

      # Run Collection
      - name: Run Collection
        run: |
            newman run End-to-End-Tests-Bank-API.postman_collection.json -r htmlextra --reporter-htmlextra-export TestResult/report.html

      # Publish the Report
      - name: Publish Report
        uses: actions/upload-artifact@v3
        with:
            name: Reports
            path: TestResult
      
